<%- include('includes/head'); %>
  <%- include('includes/nav'); %>

    <body>
      <div class="container">
        <h1 class="display-1 text-center my-5">Erro 404!</h1>
        <p class="text-center lead">A página que você procura nâo existe</p>
      </div>
    </body>